Repository UQcsse3200/2023-studio-3, pull requests merged in 2023-09, with the labels that each got.

#103 Team 2 engineers ahmad
  source/core/assets/configs/Engineers.json
  source/core/assets/images/engineers/engineer.atlas
  source/core/assets/images/engineers/engineer.png
  source/core/assets/sounds/engineers/firing_auto.mp3
  source/core/assets/sounds/engineers/firing_single.mp3
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/components/CombatStatsComponent.java
  source/core/src/main/com/csse3200/game/components/player/HumanAnimationController.java
  source/core/src/main/com/csse3200/game/components/player/HumanCombatStatsComponent.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanMovementTask.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanWaitTask.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanWanderTask.java
  source/core/src/main/com/csse3200/game/entities/configs/EngineerConfigs.java
  source/core/src/main/com/csse3200/game/entities/factories/EngineerFactory.java
  source/core/src/main/com/csse3200/game/entities/factories/NPCFactory.java
  source/core/src/main/com/csse3200/game/physics/PhysicsEngine.java
Labels: task, team 2, sprint 2

#110 Team 1 - new projectile animations and mob balls merge to main
  hs_err_pid11232.log
  source/core/assets/configs/tower.json
  source/core/assets/images/ingamebg.png
  source/core/assets/images/projectiles/basic_projectile.atlas
  source/core/assets/images/projectiles/basic_projectile.png
  source/core/assets/images/projectiles/mobProjectile.atlas
  source/core/assets/images/projectiles/mobProjectile.png
  source/core/assets/images/projectiles/projectile.png
  source/core/assets/images/projectiles/projectile2.png
  source/core/assets/images/terrain_use.png
  source/core/assets/images/towers/TNTTower.atlas
  source/core/assets/images/towers/TNTTower.png
  source/core/src/main/com/csse3200/game/ai/tasks/AITaskComponent.java
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/areas/terrain/TerrainFactory.java
  source/core/src/main/com/csse3200/game/areas/terrain/TerrainGrid.java
  source/core/src/main/com/csse3200/game/components/AoeComponent.java
  source/core/src/main/com/csse3200/game/components/EffectsComponent.java
  source/core/src/main/com/csse3200/game/components/MobProjectileAnimationController.java
  source/core/src/main/com/csse3200/game/components/ProjectileEffects.java
  source/core/src/main/com/csse3200/game/components/RicochetComponent.java
  source/core/src/main/com/csse3200/game/components/SelfDestructOnHitComponent.java
  source/core/src/main/com/csse3200/game/components/TouchAttackComponent.java
  source/core/src/main/com/csse3200/game/components/projectile/ProjectileAnimationController.java
  source/core/src/main/com/csse3200/game/components/tasks/MobAttackTask.java
  source/core/src/main/com/csse3200/game/components/tasks/TNTTowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/TowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/TrajectTask.java
  source/core/src/main/com/csse3200/game/components/tower/TNTAnimationController.java
  source/core/src/main/com/csse3200/game/components/tower/TNTDamageComponent.java
  source/core/src/main/com/csse3200/game/entities/Entity.java
  source/core/src/main/com/csse3200/game/entities/EntityService.java
  source/core/src/main/com/csse3200/game/entities/configs/TNTTowerConfigs.java
  source/core/src/main/com/csse3200/game/entities/configs/baseTowerConfigs.java
  source/core/src/main/com/csse3200/game/entities/factories/ObstacleFactory.java
  source/core/src/main/com/csse3200/game/entities/factories/ProjectileFactory.java
  source/core/src/main/com/csse3200/game/entities/factories/TowerFactory.java
  source/core/src/main/com/csse3200/game/physics/components/PhysicsMovementComponent.java
  source/core/src/main/com/csse3200/game/rendering/AnimationRenderComponent.java
  source/core/src/main/com/csse3200/game/screens/MainGameScreen.java
  source/core/src/test/com/csse3200/game/entities/factories/ProjectileFactoryTest.java
Labels: sprint 2

#118 Team 2 Engineers Feature for Sprint 2
  source/core/assets/configs/Engineers.json
  source/core/assets/images/engineers/engineer.atlas
  source/core/assets/images/engineers/engineer.png
  source/core/assets/sounds/engineers/firing_auto.mp3
  source/core/assets/sounds/engineers/firing_single.mp3
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/components/CombatStatsComponent.java
  source/core/src/main/com/csse3200/game/components/player/HumanAnimationController.java
  source/core/src/main/com/csse3200/game/components/tasks/EngineerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/MobAttackTask.java
  source/core/src/main/com/csse3200/game/components/tasks/TowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanMovementTask.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanWaitTask.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanWanderTask.java
  source/core/src/main/com/csse3200/game/entities/configs/EngineerConfig.java
  source/core/src/main/com/csse3200/game/entities/configs/EngineerConfigs.java
  source/core/src/main/com/csse3200/game/entities/factories/BossKingFactory.java
  source/core/src/main/com/csse3200/game/entities/factories/EngineerFactory.java
  source/core/src/main/com/csse3200/game/entities/factories/NPCFactory.java
  source/core/src/main/com/csse3200/game/entities/factories/PlayerFactory.java
  source/core/src/main/com/csse3200/game/entities/factories/ProjectileFactory.java
  source/core/src/main/com/csse3200/game/entities/factories/TowerFactory.java
  source/core/src/main/com/csse3200/game/physics/PhysicsEngine.java
  source/core/src/main/com/csse3200/game/physics/PhysicsLayer.java
  source/core/src/test/com/csse3200/game/components/player/HumanAnimationControllerTest.java
  source/core/src/test/com/csse3200/game/components/tasks/human/HumanMovementTaskTest.java
  source/core/src/test/com/csse3200/game/components/tasks/human/HumanWanderTaskTest.java
  source/core/src/test/com/csse3200/game/entities/factories/EngineerFactoryTest.java
  source/core/src/test/com/csse3200/game/entities/factories/ProjectileFactoryTest.java
Labels: enhancement, task, team 2, sprint 2

#127 Adding New Tower Variants and Upgrade Feature
  source/core/assets/configs/tower.json
  source/core/assets/images/towers/DroidTower.atlas
  source/core/assets/images/towers/DroidTower.png
  source/core/assets/images/towers/fire_tower_atlas.atlas
  source/core/assets/images/towers/fire_tower_atlas.png
  source/core/assets/images/towers/stun_tower.atlas
  source/core/assets/images/towers/stun_tower.png
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/components/CombatStatsComponent.java
  source/core/src/main/com/csse3200/game/components/tasks/DroidCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/FireTowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/StunTowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/TowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tower/DroidAnimationController.java
  source/core/src/main/com/csse3200/game/components/tower/FireTowerAnimationController.java
  source/core/src/main/com/csse3200/game/components/tower/StunTowerAnimationController.java
  source/core/src/main/com/csse3200/game/components/tower/TNTDamageComponent.java
  source/core/src/main/com/csse3200/game/components/tower/TowerUpgraderComponent.java
  source/core/src/main/com/csse3200/game/entities/configs/DroidTowerConfig.java
  source/core/src/main/com/csse3200/game/entities/configs/FireTowerConfig.java
  source/core/src/main/com/csse3200/game/entities/configs/StunTowerConfig.java
  source/core/src/main/com/csse3200/game/entities/configs/baseTowerConfigs.java
  source/core/src/main/com/csse3200/game/entities/factories/TowerFactory.java
  source/core/src/main/com/csse3200/game/rendering/AnimationRenderComponent.java
  source/core/src/test/com/csse3200/game/components/tower/DroidAnimationControllerTest.java
  source/core/src/test/com/csse3200/game/components/tower/TNTAnimationControllerTest.java
  source/core/src/test/com/csse3200/game/components/tower/TNTDamageComponentTest.java
  source/core/src/test/com/csse3200/game/components/tower/TowerUpgraderComponentTest.java
Labels: feature, team 2, sprint 2

#131 Added Junit Tests for DroidCombatTask and TNTCombatTask
  source/core/src/main/com/csse3200/game/components/tasks/DroidCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/TNTTowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tower/DroidAnimationController.java
  source/core/src/test/com/csse3200/game/components/tasks/DroidCombatTaskTest.java
  source/core/src/test/com/csse3200/game/components/tasks/TNTTowerCombatTaskTest.java
Labels: team 2, sprint 2

#129 Team 2 engineers Sprint 2 - Scanner and Engineer Spawning
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/components/player/HumanAnimationController.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanMovementTask.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanWanderTask.java
  source/core/src/main/com/csse3200/game/components/tasks/scanner/ScannerTask.java
  source/core/src/main/com/csse3200/game/entities/factories/GapScannerFactory.java
  source/core/src/test/com/csse3200/game/components/player/HumanAnimationControllerTest.java
  source/core/src/test/com/csse3200/game/components/tasks/human/HumanMovementTaskTest.java
  source/core/src/test/com/csse3200/game/components/tasks/human/HumanWanderTaskTest.java
  source/core/src/test/com/csse3200/game/entities/factories/EngineerFactoryTest.java
  source/wiki/team-2/EngineerFactory Sequence Diagram.png
  source/wiki/team-2/EngineerFactory Sequence Diagram.svg
  source/wiki/team-2/EngineerFactory UML.png
  source/wiki/team-2/EngineerFactory and GapScannerFactory Sequence Diagram.png
  source/wiki/team-2/HumanWanderTask Sequence Diagram.png
Labels: feature, task, team 2, sprint 2

#134 Team 2 towers
  source/core/src/main/com/csse3200/game/components/tasks/DroidCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/TNTTowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tower/DroidAnimationController.java
  source/core/src/main/com/csse3200/game/components/tower/TNTDamageComponent.java
  source/core/src/test/com/csse3200/game/components/tasks/DroidCombatTaskTest.java
  source/core/src/test/com/csse3200/game/components/tasks/TNTTowerCombatTaskTest.java
Labels: documentation, team 2, sprint 2

#139 Collab (Teams 2 and 5) Engineers/Game Loss State
  source/core/assets/images/economy/crystalBanner.png
  source/core/assets/images/economy/crystalUI.png
  source/core/assets/images/economy/scrapBanner.png
  source/core/assets/images/economy/scrapsUI.png
  source/core/assets/images/engineers/engineerBanner.png
  source/core/assets/images/lose-screen/desktop-wallpaper-simple-stars-video-background-loop-black-and-white-aesthetic-space.jpg
  source/core/assets/images/lose-screen/lose-bg.jpg
  source/core/src/main/com/csse3200/game/GdxGame.java
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/components/CombatStatsComponent.java
  source/core/src/main/com/csse3200/game/components/gamearea/CurrencyDisplay.java
  source/core/src/main/com/csse3200/game/components/gamearea/EngineerCountDisplay.java
  source/core/src/main/com/csse3200/game/components/maingame/MainGameActions.java
  source/core/src/main/com/csse3200/game/components/maingame/MainGameLoseDisplay.java
  source/core/src/main/com/csse3200/game/components/tasks/CurrencyTask.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanMovementTask.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanWanderTask.java
  source/core/src/main/com/csse3200/game/entities/factories/TowerFactory.java
  source/core/src/main/com/csse3200/game/input/DropInputComponent.java
  source/core/src/main/com/csse3200/game/screens/LosingScreen.java
  source/core/src/main/com/csse3200/game/screens/MainGameScreen.java
  source/core/src/main/com/csse3200/game/services/GameEndService.java
  source/core/src/main/com/csse3200/game/services/ServiceLocator.java
  source/wiki/team-2/EngineerFactory Sequence Diagram.png
  source/wiki/team-2/EngineerFactory Sequence Diagram.svg
  source/wiki/team-2/EngineerFactoryGapScannerFactorySequenceDiagram.png
  source/wiki/team-2/EngineerFactoryUML.png
  source/wiki/team-2/GameEndServiceSequenceDiagram.png
  source/wiki/team-2/GameEndServiceUML.png
  source/wiki/team-2/GapScannerFactory UML.png
  source/wiki/team-2/HumanWanderTaskSequenceDiagram.png
Labels: feature, task, team 5, team 2, sprint 2

#143 (Team 2 Towers) PR to merge Shivam-Tower to main
  source/core/assets/configs/tower.json
  source/core/assets/images/towers/fire_tower_atlas.atlas
  source/core/assets/images/towers/fire_tower_atlas.png
  source/core/assets/images/towers/stun_tower.atlas
  source/core/assets/images/towers/stun_tower.png
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/components/TouchAttackComponent.java
  source/core/src/main/com/csse3200/game/components/tasks/DroidCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/FireTowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tasks/StunTowerCombatTask.java
  source/core/src/main/com/csse3200/game/components/tower/FireTowerAnimationController.java
  source/core/src/main/com/csse3200/game/components/tower/StunTowerAnimationController.java
  source/core/src/main/com/csse3200/game/entities/configs/baseTowerConfigs.java
  source/core/src/main/com/csse3200/game/entities/factories/TowerFactory.java
  source/core/src/test/com/csse3200/game/components/tasks/FireTowerCombatTaskTest.java
  source/core/src/test/com/csse3200/game/components/tasks/StunTowerCombatTaskTest.java
  source/core/src/test/com/csse3200/game/components/tower/FireTowerAnimationControllerTest.java
  source/core/src/test/com/csse3200/game/components/tower/StunTowerAnimationControllerTest.java
  source/core/src/test/com/csse3200/game/entities/factories/TowerFactoryTest.java
Labels: task, team 2, sprint 2

#148 Team-2--Engineers-Praneet
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/components/tasks/human/EngineerCombatTask.java
  source/core/src/main/com/csse3200/game/entities/factories/EngineerFactory.java
  source/core/src/test/com/csse3200/game/components/tasks/EngineerCombatTaskTest.java
Labels: task, team 2, sprint 2

#155 Added the spawnDroidTower() after somebody deleted it
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
Labels: team 2, sprint 2

#154 Team 2 engineers - Final sprint 2 merge
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/components/tasks/human/HumanWanderTask.java
  source/core/src/main/com/csse3200/game/services/GameEndService.java
Labels: feature, task, team 2, sprint 2

#161 [Team 5] Turret Selection, Game End, Further improvements to Economy
  source/core/assets/flat-earth/skin/flat-earth-ui.json
  source/core/assets/sounds/economy/click.wav
  source/core/assets/sounds/economy/click_1.wav
  source/core/src/main/com/csse3200/game/GdxGame.java
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/components/gamearea/CurrencyDisplay.java
  source/core/src/main/com/csse3200/game/entities/Entity.java
  source/core/src/main/com/csse3200/game/screens/LevelSelectScreen.java
  source/core/src/main/com/csse3200/game/screens/StoryScreen.java
  source/core/src/main/com/csse3200/game/screens/TowerType.java
  source/core/src/main/com/csse3200/game/screens/TurretSelectionScreen.java
  source/core/src/test/com/csse3200/game/services/CurrencyServiceTest.java
Labels: team 5, sprint 2

#163 Team 3
  source/core/assets/images/desert_bg.png
  source/core/assets/images/ingamebg.png
  source/core/assets/images/lava_bg.png
  source/core/src/main/com/csse3200/game/areas/ForestGameArea.java
  source/core/src/main/com/csse3200/game/areas/terrain/TerrainFactory.java
  source/core/src/main/com/csse3200/game/screens/DesertGameScreen.java
  source/core/src/main/com/csse3200/game/screens/GameLevelData.java
  source/core/src/main/com/csse3200/game/screens/IceGameScreen.java
  source/core/src/main/com/csse3200/game/screens/LavaGameScreen.java
  source/core/src/main/com/csse3200/game/screens/LevelSelectScreen.java
  source/core/src/main/com/csse3200/game/screens/MainGameScreen.java
Labels: team 3
